body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    color: rgb(66, 110, 112);
    text-align: center;
    font-size: 50px;
}

p, a, label {
    font-size: 18px;
}

a {
    color: rgb(66, 110, 112);
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form {
    background: white;
    width: 300px;
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="text"] {
    width: 95%;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 12px;
}

input[type="submit"] {
    background-color: rgb(57, 94, 96);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: cadetblue;
}

.contenedorProfesores{
    display: flex;
    align-items: center;
    justify-content: start;
}

form.enlacesFormulario{
    background: none;
    border: none;
    margin: 0;
    width: auto;
}

/*Estilo tabla*/

.tabla-datos {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
    background-color: #fff;
}


.tabla-datos th, .tabla-datos td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}


.tabla-datos th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}


.columna-acciones {
    width: 200px;
    text-align: center;
}

.contenedor-acciones {
    display: flex;
    gap: 10px; 
}


.form-accion {
    margin: 0;
}

